<footer class="footer">
    <div class="footer-container">
        <div class="footer-items">
            <div class="left">
                <p style="color: white;">Cod2Cod</p>
                <p>TRM Drive Gate C, Roysambu</p>
                <p>
                    <span>+123456789</span><br/>
                    <span>info@plantt.com</span>
                </p>
            </div>
            <div class="center">
                <div class="footer-logo">
                    <div class="logo-f">
                        <div class="f1"></div>
                        <div class="f2"></div>
                        <div class="f3"></div>
                        <div class="f4"></div>
                    </div>
                    <span class="footer-h">Plantt</span>
                </div>

                <p>The seed of gardening is a love that never dies, but it never grows to the enduring happiness that the love of gardening provides to the nature.</p>

                <div class="social">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
            </div>
            <div class="right">
                <div class="pages">
                    <p>Pages</p>
                    <div class="page-item">
                        <span>Home</span>
                        <span>About</span>
                        <span>Blog</span>
                        <span>Team</span>
                        <span>Contact</span>
                        <span>Services</span>
                    </div>
                </div>
                <div class="utilities">
                    <p>Utility Pages</p>
                    <div class="page-item">
                        <span>Style Guide</span>
                        <span>Not Found</span>
                        <span>Protected</span>
                        <span>Licenses</span>
                        <span>Changelog</span>
                    </div>
                </div>
            </div>            
        </div>
        <div class="copyright">
            <span>Copyright 2024. All Rights Reserved</span>
        </div>
    </div>
</footer>