/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "variables";

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    // Admin section styles
    .admin{
        display: grid;
        grid-template-columns: 20% 80%;
        height: 100vh; /* Ensure full viewport height */

        .sidebar{
            background-color: $light-bg;
            height: 100vh;
            position: sticky;
            top: 0;

            .logo-section{
                display: flex;
                align-items: center;
                gap: 20px;

                h1{
                }

                .logo{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    height: 50px;
                    width: 50px;
                    
                    .one{
                        background-color: $green;
                        border-radius: 50% 50% 50% 0;
                    }
                    .two{
                        background-color: $green; 
                        border-radius: 0 50% 50% 50%;                      
                    }
                    .three{
                        background-color: $green;
                        border-radius: 50% 50% 0 50%;
                    }
                    .four{
                        background-color: $green;
                        border-radius: 50% 0 50% 50%;
                    }
                }
            }

            .links{
                display: flex;
                flex-direction: column;
                gap: 20px;
                list-style-type: none;
            }
        }

        .content{
            // Contents viewed on admin page
            overflow-y: scroll; /* Enable scrolling for the content */
            padding: 20px; /* Add some padding for the content */
            scrollbar-width: none;

            table{
                background: $light-bg;
                width: 100%;
                overflow-x: scroll;
            }
        }
    }

    /* nav bar */
    .main-nav{
        background: $black;
        margin-bottom: 50px;
        
        .main-nav-container{
            width: 80vw;
            color: white;            
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto; /* Center the container */
    
            .nav-logo{
                display: flex;
                align-items: center;
                gap: 10px;
        
                .logo-n{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    height: 30px;
                    width: 30px;
        
                    .n1{
                        background-color: white;
                        border-radius: 50% 50% 50% 0;
                    }
                    .n2{
                        background-color: white;
                        border-radius: 0 50% 50% 50%;
                    }
                    .n3{
                        background-color: white;
                        border-radius: 50% 50% 0 50%;
                    }
                    .n4{
                        background-color: white;
                        border-radius: 50% 0 50% 50%;
                    }
                }
        
                .nav-h{
                    font-size: 30px;
                }
            }
        
            .nav-links{
                display: flex;
                gap: 10px;
                color: $gray;
            }
        
            .nav-icons{
                display: flex;
                gap: 10px;

                .icon{
                    width: 30px;
                    height: 30px;
                    background-color: $gray;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i{
                        font-size: 12px;
                        color: white;
                    }
                }
            }
        }
    }

    /* Footer contents */
    .footer{
        background-color: $black;
        color: white;

        .footer-container{
            width: 80vw;            
            margin: 0 auto;
            padding-top: 50px;

            .footer-items{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;

                .left{
                    padding-top: 20px;
                    color: $gray;
                    p{
                        font-size: 12px;
                        font-weight: 300;
                    }
                }

                .center{
                    display: grid;
                    gap: 20px;
                    padding: 20px;
                    border-left: 1px solid $gray;
                    border-right: 1px solid $gray;
                    text-align: center; /* Center inline elements such as text or images */

                    .footer-logo{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 0 auto; /* Center the whole footer-logo block element */
                        width: max-content; /* Ensure the width fits the content */
                
                        .logo-f{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            height: 30px;
                            width: 30px;
                            margin: 0 auto; /* Center the logo block inside */
                
                            .f1{
                                background-color: white;
                                border-radius: 50% 50% 50% 0;
                            }
                            .f2{
                                background-color: white;
                                border-radius: 0 50% 50% 50%;
                            }
                            .f3{
                                background-color: white;
                                border-radius: 50% 50% 0 50%;
                            }
                            .f4{
                                background-color: white;
                                border-radius: 50% 0 50% 50%;
                            }
                        }
                
                        .footer-h{
                            font-size: 30px;
                        }
                    }

                    p{
                        font-size: 12px;
                        font-weight: 300;
                        color: $gray;
                    }

                    .social{
                        font-size: 12px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;

                        i{
                            height: 30px;
                            width: 30px;
                            background-color: $gray;
                            border-radius: 50%;
                            display: inline-block;
                            text-align: center;
                            line-height: 30px;
                        }
                    }
                }

                .right{
                    margin: 0 auto;
                    width: 80%;
                    padding: 20px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    font-size: 12px;
                    font-weight: 300;

                    .page-item{
                        display: grid;
                        gap: 5px;
                        color: $gray;
                    }
                }
            }

            .copyright{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;

                span{
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }

    /* main-content */
}